body{
  
background: url("images/pattern-background-desktop.svg");
background-repeat: no-repeat;
background-color:hsl(225, 100%, 94%);
  font-family: 'Red Hat Display', sans-serif;
  }

.container{
  background-color: white;
  width: 28.12rem;
  margin: auto;
  border-radius: 1rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  
}  
.top-image{
border-radius: 1rem;
}
.top-image img{
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.order{
  text-align: center;
  color:hsl(223, 47%, 23%);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.order1{
  padding: 0px 4rem;
  color: hsl(224, 23%, 55%);
  text-align: center;
}

.annual{
  background-color: hsl(225, 100%, 98%);
  width:24rem ;
  margin:auto;
  max-width: 100%;
  border-radius: 1rem;
  height: 6rem;
}

.annual1{
  padding-top: 1rem;
  margin-left: 6rem;
  color: hsl(223, 47%, 23%);

}
.annual2{
margin-left: 6rem;
padding-bottom:1rem;
color: hsl(224, 23%, 55%);
}

.image{
  position: absolute;
  top:29rem;
  left:32rem;
}
.span{
  position: absolute;
  top: 29rem;
  right: 33rem;
  color:hsl(245, 75%, 52%);
}
.payment{
  background-color: hsl(245, 75%, 52%);
  color: white;
  width: 24rem;
  margin:auto;
 
  border-radius: 1rem;
  box-shadow: 0px 0px 2px 0px blue;
}
.payment p{
  text-align: center;
  padding:1rem 0;
  
}
.cancel{
  text-align: center;
  color: hsl(224, 23%, 55%);
}
.ordersummary{
  margin-top: 3rem;
}

.attribution {
   font-size: 11px; 
   text-align: center;
  }
  .attribution a {
       color: hsl(228, 45%, 44%);
  }
  @media screen and (max-width:375px) {
    .container{
     width:300px;
    }
    .top-image img{
      width: 18.75rem;
    }
    .annual{
      width: 14.5rem;

    }
    .payment{
      width: 14.5rem;

    }
    .span{
      right: 5rem;
      bottom: 8rem;
      top: 25rem;
    }

    .image{
      left: 5rem;
      bottom: 8rem;
      top: 24rem;
     

    }
    .annual1{
      margin-left: 3.5rem;

    }
    .annual2{
      margin-left: 3.5rem;
      padding:0;

    }
    .order1{
      padding-right: 1rem;
      padding-left: 1rem;
    }
    
    
  }






